.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  background-color: #282c34;
  color: white;
  width: 70%;
  height: 300px;
  max-width: 680px;
  border-radius: 14px;
  box-sizing: border-box;
  margin-top: 30px;
}

.cardImg {
  display: flex;
  flex-direction: column;
  align-items: center; /* centraliza imagem e ícones */
  justify-content: center;
  height: 100%;
  width: 50%;
  box-sizing: border-box;
}

.cardImg img {
  width: 180px;
  height: 180px;
  border-radius: 50%; /* imagem redonda */
  object-fit: cover;
  margin-bottom: 15px; /* espaço entre imagem e ícones */
}

.cardSocial {
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
  justify-content: center;
}

.socialContainer {
  width: 52px;
  height: 52px;
  background-color: rgb(73, 73, 73);
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  transition-duration: .3s;
  border-radius: 50%;
}

.containerOne:hover { background-color: #d62976; }
.containerTwo:hover { background-color: #00acee; }
.containerThree:hover { background-color: #0072b1; }
.containerFour:hover { background-color: #128C7E; }

.socialContainer:active {
  transform: scale(0.9);
  transition-duration: .3s;
}

.socialSvg {
  width: 17px;
}
.socialSvg path {
  fill: white;
}
.socialContainer:hover .socialSvg {
  animation: slide-in-top 0.3s both;
}

.cardText {
  flex: 1;
  min-width: 0;
  padding-left: 20px;
  box-sizing: border-box;
}
.p{
  color: #2ab5ff;
  margin: 12px 0px 0px 0px;
}

p {
  word-wrap: break-word;
  overflow-wrap: break-word;
  max-width: 100%;
  margin: 0;
}
.cardText h1{
  font-size: 1.6rem;
  margin: 0;
  color: #f1c40f; /* cor do texto */
}

@media (max-width: 840px) {
  .container {
    flex-direction: column;
    height: auto;
    max-width: 400px;
  }

  .cardImg {
    width: 100%;
    min-width: unset;
    height: auto;
    margin-bottom: 20px;
  }

  .cardText {
    padding-left: 0;
    text-align: center;
  }
}
