.projectsSection {
  padding: 3rem 2rem;
  background-color: #191a1a;
  text-align: center;
}

.title {
  color: white;
  font-size: 2.5rem;
  margin-bottom: 2rem;
}

.projectGrid {
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
  justify-content: center;
  margin-bottom: 2rem;
}

.projectCard {
  width: 200px;
  height: 140px;
  background-color: rgba(114, 114, 114, 0.2);
  border: 1px solid rgba(114, 114, 114, 0.4);
  border-radius: 12px;
  position: relative;
  transition: transform 0.3s ease;
  background: rgba(114, 114, 114, 0.4);
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.projectCard:hover {
  transform: translateY(-5px);
}

.projectImage {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 12px;
}

.projectImage:hover {
  cursor: inherit;
}

.ribbon {
  position: absolute;
  top: 10px;
  left: -30px;
  background-color: #f1c40f;
  color: #191a1a;
  font-size: 0.75rem;
  font-weight: bold;
  padding: 0.3rem 1rem;
  transform: rotate(-45deg);
  width: 140px;
  text-align: center;
  box-shadow: 0 0 5px rgba(241, 196, 15, 0.4);
}

.button {
  background-color: #f1c40f;
  color: #191a1a;
  border: none;
  padding: 0.8rem 2rem;
  border-radius: 20px;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.button:hover {
  background-color: #d4ac0d;
}

.githubLink a {
  margin-top: 1rem;
  color: #bbb;
  font-size: 0.9rem;
}

.modalOverlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(25, 26, 26, 0.9);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
  padding: 2rem;
  backdrop-filter: blur(5px);
}

.modalContent {
  background-color: #1f1f1f;
  padding: 2rem;
  border-radius: 20px;
  max-width: 700px;
  width: 100%;
  color: #fff;
  box-shadow: 0 8px 24px rgba(0, 0, 0, 0.3);
  text-align: center;
  position: relative;
  overflow: hidden; /* importante para conter o carrossel */
}

/* Carrossel ajustado */
.carousel {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 568px;
  width: 100%;
  height: 300px;
  margin: 0 auto 1.5rem auto;
  background-color: #2e2e2e;
  border-radius: 12px;
  overflow: hidden;
  position: relative;
}

.carousel img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 12px;
}

/* Botões do carrossel reposicionados */
.carousel button {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: transparent;
  color: #f1c40f;
  font-size: 2rem;
  border: none;
  cursor: pointer;
  transition: transform 0.2s;
  z-index: 1;
}

.carousel button:first-of-type {
  left: 10px;
}

.carousel button:last-of-type {
  right: 10px;
}

.carousel button:hover {
  transform: translateY(-50%) scale(1.2);
}

.deployLink {
  width: auto;
  margin-top: 2rem;
  color: #191a1a;
  text-decoration: none;
  background-color: #f1c40f;
  padding: 0.5rem 1rem;
  border-radius: 12px;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s ease, color 0.3s ease;
  margin-right: 12px;
}

.deployLink:hover {
  background-color: #d4ac0d;
}

.closeButton {
  width: auto;
  margin-top: 2rem;
  background-color: transparent;
  border: 1px solid #f1c40f;
  color: #f1c40f;
  padding: 0.5rem 1rem;
  border-radius: 12px;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.closeButton:hover {
  background-color: #f1c40f;
  color: #191a1a;
}

/* Responsividade */
@media (max-width: 768px) {
  .projectCard {
    width: 100%;
    max-width: 300px;
    height: auto;
  }
  .projectCard {
    width: 200px;
    height: 140px;
    background-color: rgba(114, 114, 114, 0.2);
    border: 1px solid rgba(114, 114, 114, 0.4);
    border-radius: 12px;
    position: relative;
    transition: transform 0.3s ease;
    background: rgba(114, 114, 114, 0.4);
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
  .carousel {
    height: 200px;
  }

  .carousel img {
    border-radius: 12px;
  }

  .modalOverlay {
    padding: 0;
  }

  .modalContent {
    padding: 1rem;
  }
}

@media (max-width: 500px) {
  .carousel button {
    display: none;
  }
}
